.hero__text {
  color: white;
  margin: 1em 0;
  line-height: 1.4;
}

.hero__text h1 {
  font-size: 2rem;
  font-weight: 600;
}

.hero__text h4 {
  font-size: 1rem;
  font-weight: 400;
  max-width: 60%;
}

.Hero__btn {
  padding: 1em 2em;
  border-radius: 3px;
  background-color: #031724;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(134, 133, 133, 0.15) 0px 2px 10px;
}

.Hero__btn:active {
  box-shadow: rgba(134, 133, 133, 0.15) 0px 2px 2px;
}

@media (max-width: 768px) {
  .hero__text h4 {
    max-width: 100%;
  }
}
