.Navigation__container {
  width: 100%;
  background-color: #031624;
}

.Navigation__container--columns {
  width: 100%;
  background-color: white;
  padding: 1.5em 0;
  border-radius: 0 0 4px 4px;
  color: #031624;
}

.Navigation__container--rows {
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  cursor: pointer;
  color: #031624;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.011);
}

.Navigation__list {
  display: flex;
  gap: 1em;
}

.Navigation__list--item {
  color: #031624;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.Navigation__list--item:hover {
  color: black;
  cursor: pointer;
  font-weight: 500;
  transform: scale(1.1);
}

.right {
  display: none;
}

.Navigation__btn {
  padding: 1em 2em;
  border-radius: 3px;
  background-color: #031724;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Navigation__btn:active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

@media (max-width: 768px) {
  .Navigation__container--columns {
    background-color: transparent;
  }
  .Navigation__container--rows {
    padding: 0;
  }

  .logo,
  .Navigation__list--item {
    color: white;
  }

  .Navigation__list {
    display: none;
  }

  .right {
    display: block;
  }

  .Navigation__list--item:hover {
    color: white;
  }
}
