@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.NeuralPost__Constraint {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}


input,
select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


.login__container {
  width: 100%;
}

.bg {
  background: #3396f2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em 0;
  height: 30vh;
}

.bg h1 {
  color: white;
  text-align: center;
}

.login__container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container__box {
  margin: -8%;
  background-color: #f7fafc;
  padding: 3em;
  width: 50%;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login__container__box h5 {
  font-weight: 500;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

.login__container__box form .form-control {
  width: 100%;
  padding: 1em;
  height: calc(1.5em + 1.25rem + 2px);
  border: none;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.375rem;
  background-color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 1em 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.checkbox-control {
  width: auto !important;
}

.checkbox-crl {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.error__message {
  color: red;
  font-size: 1rem;
  margin-top: 0.5em;
}

.form-control-btn {
  background: #3396f2 !important;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px !important;
  cursor: pointer;
}

.checkbox-crl span {
  color: #8898aa;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8898aa;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .login__container__box {
    width: 90%;
    padding: 2em;
  }

  .bg {
    height: 20vh;
  }
}

.preHome__container {
  width: 100%;
  height: 40vh;
  background-color: #3396f2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.preHome__container--text {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.contrain {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.login__as--box {
  margin: 2em 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.login__as--box--text {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em;
  border-radius: 3px;
}

.login__as--box--text h4 {
  font-weight: 500;
}

.login__btn {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 3px;
  background-color: #3396f2;
  color: aliceblue;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin: 1em 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.login__btn:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
}

@media (max-width: 768px) {
  .login__as--box--text h1 {
    font-size: 1.5rem;
  }

  .login__as--box--text h4 {
    font-size: 1rem;
    font-weight: 500;
  }
}
