@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.NeuralPost__Constraint {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
